#configurations
wordlist.file=
wordlist.has_header=true
wordlist.language=
query.average_lentgh=
query.max_length=
query.max_queries=
faolrd.jlani.check_results=true
faolrd.use_proxies=true
faolrd.save_all_results=false